<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="App Recomendaciones">
    <meta name="author" content="plabin">

    {% if custom_title %}
        <title>Recomendaciones - {{ titulo }}</title>
	{% else %}
	    <title>Recomendaciones </title>
    {% endif %}
    <!-- Static Files -->
    {% load static %}
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    {% if request.session.dark_theme%}
        <link href="{% static "css\bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    {% else %}
        <link href="{% static "css\material.bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    {% endif %}
    <!-- \Bootstrap -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- \Font Awesome -->

    <!-- Load more files here: -->
    {% block page_head %}
    {% endblock %}
    <!-- \-->
    <!--\Static Files-->

</head>

<style>
    body {
        /*margin-top: 80px;*/
        word-wrap: break-word;
        min-height: 100vh;
    }
</style>

<body class="d-flex flex-column">
	<!-- navbar -->
    <nav class="navbar navbar-expand-xl navbar-dark bg-primary sticky-top mb-3">
        <div class="container">
            <a class="navbar-brand" href="{% url 'recomendaciones:index' %}"><i class="fas fa-tasks"></i> Recomendaciones</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="topNavBar" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "recomendaciones:enviadas" %}">Enviadas</a>
                    </li>
                </ul>
            
                <hr>

                <ul class="navbar-nav ml-xl-3 ml-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'recomendaciones:index'%}?changetheme"><i class="fas fa-palette"></i> Change Theme</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><i class="fa fa-sign-in-alt"></i> Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <main class="container" role="main" style="flex: 1;">
        {#{% include 'components/_messages.html' %}#}
        {% block page_content %}
        {% endblock %}
    </main>

    <!-- /.container -->
     <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-6 float-left">
                    <p>Patricio Labin<br>plabin@outlook.cl</p>
                </div>
                <div class="col-6 float-right">
                    <p class="text-right">
                        <a href="https://gitlab.com/plabin/recomendaciones_app">Fork Me on Gitlab! <i class="fab fa-gitlab"></i></a><br>
                        <a href="http://getbootstrap.com/">Created with Bootstrap 4</a><br>
                        <a href="https://bootswatch.com/darkly/">Darkly Theme</a>
                    </p>
                </div>
            </div>
        </div>
     </footer>

    {% block page_script %}
    {% endblock %}
</body>
</html>
