{% extends "recomendaciones/layouts/base.html" %}


{% block page_content %}
    {% if object_list %}
        <ul>
        {% for recomendacion in object_list %}
            <li>{{ recomendacion.titulo }} - {{recomendacion.contenido}}</li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay recomendaciones enviadas.</p>
    {% endif %}
{% endblock %}