{% extends "recomendaciones/layouts/base.html" %}

{% block page_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css\trix.css" %}">
    <script type="text/javascript" src="{% static "js\trix.js" %}"></script>
{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1 class="display-4">Recomendaciones</h1>
        <p class="lead">Envia tus recomendaciones:</p>
        <hr class="my-2 p-2">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <form action="" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label for="titulo">Titulo:</label>
                            <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo de la receta" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <label for="contenido">Contenido:</label>
                            <input id="contenido_receta" type="hidden" name="contenido_receta">
                            <trix-editor id="contenido" input="contenido_receta"></trix-editor>
                        </div>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}